//NAVABAR Link part 2  
#NavbarRecup
    background-color: white

ul
    margin-top: 30px

#home-link
    padding-right: 1.625rem 

.nav-item 
    padding-left: 1.625rem 
    padding-right: 1.625rem 
    .nav-link
        padding-bottom: 2.44rem
        font-size: 13px

// First-sec 
#first-sec
    background-color: #f3f2f3 

.red-para
    color: rgb(189, 88, 78)
    font-size: 3.125rem
    font-weight: 300

.big-para
    font-family: $font-MarieBig
    font-size: 100px
    font-weight: 700

.text-para
    font-weight: 400
    color: rgb(144, 144, 144)


//  PARTIE BUTTON NAVABAR
.btn-danger
    line-height: 17px
    font-size: 13px
    border-radius: 20px
    

/* Le Modale (background) */
.maModal
    display: none 
    background-color: red
    position: fixed 
    z-index: 100
    // ce mettera en premier plan 
    padding-top: 100px
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,0.4)
    overflow: auto


/* Modal Contenu */
.modal-content 
    background-color: red

    background-color: #fefefe
    margin: auto
    padding: 20px
    border: 1px solid #888
    width: 80%


/*  Button fermeture  */
.close 
    color: #aaaaaa
    float: right
    font-size: 28px
    font-weight: bold


//.close:hover,
//change le cursor qui est en flech en main 
//.close:focus 
//Des qu'il est mis en focus il passe en pointer 
   /*  color: #000
    text-decoration: none
    cursor: pointer */
