$font-MarieBig: 'Poppins-Bold'
$font-MarieNormal: 'Poppins-Regular'
$font-RougeNathan: #ca544e
$danger: #ca544e
$font-Bron: 'Source'

//Boostrap Import
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

//Fontawesome Import 
$fa-font-path:"../webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"

@font-face
    font-family: 'Poppins-Bold'
    src: url("./../../public/fonts/Poppins-Bold.ttf")

@font-face
    font-family: 'Poppins-Regular'
    src: url("../../public/fonts/Poppins-Regular.ttf")

@font-face
    font-family: 'Source'
    src: url("../../public/fonts/SourceSansPro-Regular.ttf")

// Header first part 
h1
    padding-bottom: 3rem
    padding-left: 0.9400rem
    padding-right: 0.9400rem
    padding-top: 5.75rem 
    font-family: $font-MarieBig
    font-size: 28px
    
//NAVABAR Link part 2 
ul
    margin-top: 30px

#home-link
    padding-right: 1.625rem 

.nav-item 
    padding-left: 1.625rem 
    padding-right: 1.625rem 
    .nav-link
        padding-bottom: 2.44rem
        font-size: 13px

// First-sec 
#first-sec
    background-color: #f3f2f3 

.red-para
    color: rgb(189, 88, 78)
    font-size: 3.125rem
    font-weight: 300

.big-para
    font-family: $font-MarieBig
    font-size: 100px
    font-weight: 700

.text-para
    font-weight: 400
    color: rgb(144, 144, 144)

.btn-danger
    line-height: 17px
    font-size: 13px
    border-radius: 20px

// Seconde section

// Card-with-text
.card-text 
    font-size: 29px
    font-weight: 600
    letter-spacing: 0px
    text-transform: none
    font-family: $font-MarieNormal
    border-bottom: 1px solid white 

// Between-text 
.between-text
    font-size: 23px
    font-weight: 700
    font-family: $font-MarieBig
    margin-top: 3.75rem
    margin-bottom: 5rem

// Third section

h3
    font-size: 1.063rem 
    font-family: $font-MarieBig
    color: #191919

// EFFECT sass(css) pour afficher le text qui monte sur les images ,
.englobe
    position: relative
    overflow: hidden
.maxou
    position: absolute
    display: flex
    left: 0
    right: 0
    transition: bottom 0.5s ease-out
    bottom:-40px
    // width: 100%
// ne laisse pas d'espace entre les mots et le parents en rajoutant left et right 0 , la meme chose se passe avec width 100%
// pas utliser de width 100% ni de d-flex (remplacer par des position absolute)
//Pourquoi bottom:-40px pour que notre row maxou soit mis en dessous et par la suite caché avec overflow hidden qu'on mettera sur le parent  
    
.englobe:hover 
    .maxou
        bottom: 0
//bottom : 0 pourquoi la row maxou ce mettera en bas par apport au parent si j'avais mis top la row maxou serait mis en haut 
// 


#overlay-1
    background-color:#0e0e0e
#overlay-2
    background-color: $font-RougeNathan

// Prix recent product 

.recent-pro
    color: #bd584e
    font-size: 0.94rem 
    font-weight: 800
    $font-MarieBig: 'Poppins-Bold'
// Prix discount 
.discount-pro
    color: #c9c9c9
    font-size: 0.94rem 
    font-weight: 800
    $font-MarieBig: 'Poppins-Bold'
    text-decoration: line-through

.onsale 
    //border-radius: 50%
    background-color: #bd584e
    font-size: 0.94rem 
    font-weight: 800
    $font-MarieBig: 'Poppins-Bold'
    width: 45px
    height: 45px
    padding:11px 5px

.zoom 
    // width: 320px
    // height: 240px

.image 
    transition: all 1s ease

.image:hover 
    transform: scale(1.25)

// Fourth-sec 

#fourth-sec
    background: url("./../../public/images/cta-bg.jpg") no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    height: 611.797px
    // si t'as une image en background-image  et que la secition et vide n'oubile pas de définir la hauter 



.titre-h4
    font-size: 2.5rem
    margin-top: 5.4rem

// Five-sec 
.blog 
    .carousel-indicators 
        left:0
        top: auto
        bottom: -40px
        li 
            background: #a3a3a3
            border-radius: 50%
            width: 8px
            height: 8px
.carou
    bottom: 3.2rem 
.carousel-indicators
    padding-bottom: 1rem

.fit-five
    padding-top: 1.9rem

// .blog .carousel-indicators .active 
//     background: #707070

    
// Six-section 

.customers-circle
    background-color:#f3f2f3
    // .fa-check-circle

                                   
.fast-shipping
    background-color: $font-RougeNathan
    

//button 
.sec-6-btn
    font-size: 13px
    letter-spacing: 0.8px
    font-weight: bold
    line-height: 1.7
    font-family: $font-Bron
// Seciton-seven 
#seven-sec
    background-color:#262626
.zeven
    padding-top: 50px

.color-text
    color: #aeaeae
    font-family: $font-Bron
    font-size: 0.94rem 
    line-height: 1.7

hr
    background-color: white
.color-text-2
    color: #aeaeae
    font-family: $font-Bron
    font-size: 0.94rem 
    border-color: #353535
    border-width: 1px
    border-style: solid
    margin-right: 10px
    margin-bottom: 10px
    font-size: 11px !important
    text-transform: uppercase
    font-weight: 600
    float: left
    padding: 6px 16px 8px
    



/* query Pour smartphon*/
@media (max-width: 767px) 
    .big-para
        font-size: 20px
 
@media (min-width: 768px) and (max-width: 991px) 
// version 1 pour // effect sass(css) pour afficher le text qui monte sur les images ,
// #englobe
//     position: relative
// #maxou
//     position: absolute
//     display: none
//     left: 0
//     right: 0
// #englobe:hover 
//     #maxou
//         bottom: 0
//         display: flex 
// Ici au moment ou l'on active le hover sur le parent (englobe) la row maxou ce met en display flex 
// eh il n'as aucun espace entre les col ni de padding sur les coté 

/* override position and transform in 3.3.x */
