$font-MarieBig: 'Poppins-Bold'
$font-MarieNormal: 'Poppins-Regular'
$font-RougeNathan: #ca544e
$danger: #ca544e
$font-Bron: 'Source'

//Boostrap Import
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

//Fontawesome Import 
$fa-font-path:"../webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"
@import "./_header.sass"
@import "./_navabar+first-sec.sass"
@import "./_sec2.sass"
@import "./_sec3.sass"
@import "./_sec4-sec5.sass"
@import "./_sec6.sass"
@import "./_sec7.sass"
@import "./_sec8_mediaquery.sass"

@font-face
    font-family: 'Poppins-Bold'
    src: url("./../../public/fonts/Poppins-Bold.ttf")

@font-face
    font-family: 'Poppins-Regular'
    src: url("../../public/fonts/Poppins-Regular.ttf")

@font-face
    font-family: 'Source'
    src: url("../../public/fonts/SourceSansPro-Regular.ttf")

// version 1 pour // effect sass(css) pour afficher le text qui monte sur les images ,
// #englobe
//     position: relative
// #maxou
//     position: absolute
//     display: none
//     left: 0
//     right: 0
// #englobe:hover 
//     #maxou
//         bottom: 0
//         display: flex 
// Ici au moment ou l'on active le hover sur le parent (englobe) la row maxou ce met en display flex 
// eh il n'as aucun espace entre les col ni de padding sur les coté 

/* override position and transform in 3.3.x */
